.btn {
   background-color: #FDFF5B;
   text-color
}

.text-color {
    color: #707680;
}

.logo-icon {
    font-size: 3rem;
}

.btn-link {
    padding-top: 0.5rem;
    padding-bottom:  0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    color:#000000;

}
